.header {
  display: flex;
  background-color: #363636;
  height: 80px;
  align-items: center;
  justify-content: space-between;

  img {
    height: 50px;
    margin-left: 15px;
  }
  .login  {
    float: left;
    margin: 15px;

  }
  .active {
    color: red;
  }
}
