.header {
  display: flex;
  background-color: #363636;
  height: 80px;
  align-items: center;
  justify-content: space-between;

  img {
    height: 50px;
    margin-left: 15px;
  }

  .login {
    margin: 15px;

    &Name {
      color: white;
      margin: 15px;
      font-size: 25px;
    }
  }

  .active {
    color: red;
  }
}
