
.nav {
  min-height: 800px;
  background-color: #363636;
  flex: 15%;
  margin-top: 15px;
  margin-right: 15px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: margin-left 1.5s;

  &.active {
    color: red;
  }

  &:hover {
    color: red;
    margin-left: 20px;
    transition: margin-left 3s;
  }
}


.item {
  margin: 15px 0 0 15px;

  &.settings {
    margin: 75px 0 0 15px;
  }
}



