.post {
  background-color: white;
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  margin-left: 25px;
}

.from_me {
  color:white;
  background:#0B93F6;
  align-self: flex-end;

  &:before {
    right:-7px;
    border-right:20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    transform:translate(0, -2px);
  }

  &:after {
    right:-56px;
    width:26px;
    background:white;
    border-bottom-left-radius: 10px;
    transform:translate(-30px, -2px);
  }
}

.from_them {
  background:#E5E5EA;
  color:black;

  &:before {
    left:-7px;
    border-left:20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    transform:translate(0, -2px);
  }

  &:after {
    left:4px;
    width:26px;
    background:white;
    border-bottom-right-radius: 10px;
    transform:translate(-30px, -2px);
  }
}


.post__header {
  display: flex;


  &_time {
    margin-left: 10px;
  }
}

.post__inner {
  display: flex;
  align-items: center;
  margin: 10px 0;

  &_text {
    margin-left: 10px;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}