*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.app-wrapper-content {
  color: white;
  background-color: #363636;
  flex: 80%;
  margin-top: 15px;
}

.body {
  display: flex;
}





