ul li {
    list-style-type: none;
}

.app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
display: flex;
    flex: 0 0 auto;
    background-color: green;
    height: 80px;
    align-items: center;
}

.header img {
    height: 50px;
    margin-left: 15px;
}

.body {
    display: flex;
}

.nav {
    background-color: green;
flex: 15%;
    margin-top: 15px;
    margin-right: 15px;
}

.Profile {
    background-color: green;
 flex: 80%;
    margin-top: 15px;
}

.Profile img {
    width: 100%;
    height: 150px;
}

